{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}
<form action="/signup/create" method="post">
    <p><input type="text" name="name" placeholder="Notendanafn" required></p>
    <p><input type="text" name="name" placeholder="Nafn" required></p>
    <p><input type="password" name="password" minlength="3" placeholder="Password" required><p>
    <p><input type="submit" value="Login"></p>
</form>
{% if  code  == 0 %}
<p>Success</p>
{% elif  code == 1 %}
<p>name taken</p>
{% endif %}
<a href="/">Go Back</a>
{% endblock %}